@model System.Int32

<div class="d-flex justify-content-center my-4 pt-3">
    <i class="fas fa-thumbs-down"></i>
    <div class="w-75">
        <input class="custom-range m -1 course-rating" type="range" min="0" max="5" value="@Model" />
        @Html.HiddenFor(model => model)
    </div><i class="fas fa-thumbs-up"></i>
</div>
<div class"text-center">
    <label class="text-center" name="reviewScore">0</label>
</div>





