@model System.Int32
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">0</span>
    </div>
    <input class="custom-range form-control course-rating" type="range" min="0" max="5" value="@Model" />
    @Html.HiddenFor(model => model)
    <div class="input-group-append">
        <span class="input-group-text">5</span>
    </div>
</div>






